.row
  .col-md-12
    .page-header
      %h1
        = @ticket_group.name
        = link_to 'Edit', admin_conference_ticket_group_path(@conference, @ticket_group), class: 'btn btn-primary pull-right'
.row
  .col-md-12
    %dl.dl-horizontal
      %dt
        Name:
      %dd
        = @ticket_group.name

      %dt
        Vat percent:
      %dd
        = @ticket_group.vat_percent
