.badge-header {
  margin-bottom: 20px !important;
}

.badge-body {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.badge-success{
  background-color: #5cb85c !important;
}

.badge-danger{
  background-color: #d9534f !important;
}
